<h1>Change Password</h1>

<%= form_for @user do |f| %>
  <%= content_tag(:div, class: "form-group") do %>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control" %>
  <% end %>
  <%= content_tag(:div, class: "form-group") do %>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  <% end %>
  <%= content_tag(:div, class: "form-group") do %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
