<!DOCTYPE html>
<html>
<head>
  <title>Biddr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "All Auctions", auctions_path %></li>
            <% if user_signed_in? %>
            <li><%= link_to "Your Bids", bids_path %></li>
            <li><%= link_to "New Auction", new_auction_path %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Welcome #{current_user.first_name} #{current_user.last_name}!", user_path(current_user) %></li>
              <li><%= link_to "Log Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %></li>
            <% else %>
              <li><%= link_to "Sign In", new_session_path %></li>
              <li><button class="btn btn-default navbar-btn"><%= link_to "Sign Up", new_user_path %></button></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </div>

<div class="container-fluid"><div class="col-sm-12"><%= yield %></div></div>

</body>
</html>
